*.o
*.out
*.txt
*.json
*.log
*.tmp
*.bak
*.swp
*.cache
*.pid
*.db
*.class
*.pyc
*.pyo
*.dll
*.exe
*.so
*.dylib
*.jar
*.war
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.tgz
*.mp4
*.mp3
*.avi
*.mkv
*.flv
*.mov
*.wmv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.ico
*.webp